extends base

block content
  .profile-container
    .profile-header
      h2.heading-secondary Your Profile
      
    .profile-content
      .profile-section
        h3.heading-tertiary Personal Information
        form.form.form--profile
          .form__group
            label.form__label(for='name') Name
            input#name.form__input(type='text', placeholder='Your Name', value=user ? user.name : '')
          
          .form__group
            label.form__label(for='email') Email address
            input#email.form__input(type='email', placeholder='you@example.com', value=user ? user.email : '', readonly)
          
          .form__group
            label.form__label(for='photo') Profile Photo
            .photo-upload
              .main-header-img
                img.main-header-img__img(src=user && user.photo ? `/img/users/${user.photo}` : '/img/users/adarsh.jpg', alt='User photo')
              input#photo.form__input.form__photo-input(type='file', accept='image/*')
              label.btn.btn--small(for='photo') Choose new photo
          
          .form__group.ma-bt-md
            label.form__label(for='bio') Bio
            textarea#bio.form__input(placeholder='A short description about yourself', rows='5')= user && user.bio ? user.bio : ''
          
          .form__group
            button.btn.btn--green Save Changes
            
      .profile-section
        h3.heading-tertiary Security Settings
        form.form.form--password
          .form__group
            label.form__label(for='currentPassword') Current Password
            input#currentPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
          
          .form__group
            label.form__label(for='newPassword') New Password
            input#newPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
          
          .form__group.ma-bt-md
            label.form__label(for='confirmPassword') Confirm Password
            input#confirmPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
          
          .form__group
            button.btn.btn--green Update Password